﻿/// <reference path="IntelliSense.less" />

@base-color: #f7f7fa;
@article-font-size: 23px;
@font: cursive;
@font-color: #0026ff;

body {    
    h2{
        color: @font-color;
        font-family: @font;
    }
    
    background-color: @base-color;    
}

div {
    margin: 10px;

    .article {
        font-size: @article-font-size;
    }
}

h2 {
    font-size: @article-font-size+5;
}
